In [7]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',500)
pd_raw = pd.read_csv('time_series_covid19_confirmed_global.csv')

In [8]:
pd_raw.head()

  ;date;Italy;US;Spain;Germany;Korea  South
0           0;2020-01-22;0;1;0;0;0.0    NaN
1           1;2020-01-23;0;1;0;0;0.0    NaN
2           2;2020-01-24;0;2;0;0;0.0    NaN
3           3;2020-01-25;0;2;0;0;0.0    NaN
4           4;2020-01-26;0;5;0;0;0.0    NaN

In [9]:
pd_raw.columns[4:]

Index([], dtype='object')

In [10]:
time_idx = pd_raw.columns[4:]

In [11]:
df_plot = pd.DataFrame({'date':time_idx})
df_plot.head()

Empty DataFrame
Columns: [date]
Index: []

In [12]:
pd_raw['Country/Region']

KeyError: 'Country/Region'

In [ ]:
pd_raw[pd_raw['Country/Region'] == 'Germany'].iloc[:,4::].sum(axis=0)[0:4]

In [ ]:
country_list = ['Italy','US','Spain','Germany','Korea,South']

In [ ]:
for each in country_list:
    df_plot[each] = np.array(pd_raw[pd_raw['Country/Region'] == each].iloc[:,4::].sum(axis=0))

In [ ]:
%matplotlib inline
df_plot.set_index('date').plot()

In [ ]:
df_plot.head()

In [ ]:
from datetime import datetime
df_plot.date[0]

In [ ]:
time_idx = [datetime.strptime(each,"%m/%d/%y") for each in df_plot.date]
time_str = [each.strftime('%Y-%m-%d') for each in time_idx]

In [ ]:
df_plot['date'] = time_idx
type(df_plot['date'][0])

In [ ]:
df_plot.head()

In [ ]:
df_plot.to_csv('time_series_covid19_confirmed_global.csv',sep=';')

In [ ]:
pd_data_base = pd_raw.rename(columns={'Country/Region':'country','Province/State':'state'})

In [ ]:
pd_data_base = pd_data_base.drop(['Lat','Long'],axis=1)
pd_data_base.head()

In [ ]:
test_pd = pd_data_base.set_index(['state','country']).T

In [ ]:
test_pd.columns

In [ ]:
test_pd.stack(level=(0,1)).reset_index()

In [ ]:
df_plot.set_index('date').plot()