In [30]:
import subprocess
import os
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.pylab as plt
import dash
dash.__version__
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output,State

import plotly.graph_objects as go


from datetime import datetime
from bs4 import BeautifulSoup
import json
import seaborn as sns

from scipy import optimize
from scipy import integrate

sns.set(style='whitegrid')
# sns.axes_style("")


pd.set_option('display.max_rows', 500)

My personal github link is below

https://github.com/abdlhersln/Enterprise-Data-Science-Folder.git

GITHUB csv data
git clone/pull https://github.com/CSSEGISandData/COVID-19.git

In [31]:
country_list=['Germany','Turkey','US']

In [32]:
pd_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
time_idx=pd_raw.columns[4:]
time_idx = [datetime.strptime(each ,"%m/%d/%y") for each in time_idx]
time_idx = [each.strftime('%Y-%m-%d') for each in time_idx]

US = pd_raw[pd_raw['Country/Region']=='US'].iloc[:,4:].sum(axis=0)
Turkey = pd_raw[pd_raw['Country/Region']=='Turkey'].iloc[:,4:].sum(axis=0)
Germany = pd_raw[pd_raw['Country/Region']=='Germany'].iloc[:,4:].sum(axis=0)

population_germany = 83240000
population_turkey = 84340000
population_us = 329500000

population = [83240000,84340000,329500000]
         

df_plot = pd.DataFrame({'date':time_idx,'Germany':Germany,'Turkey':Turkey ,'US':US})

In [33]:
def quick_plot(x_in, df_input,y_scale='log',slider=False):
    """ Quick basic plot for quick static evaluation of a time series
    
        you can push selective columns of your data frame by .iloc[:,[0,6,7,8]]
        
        Parameters:
        ----------
        x_in : array 
            array of date time object, or array of numbers
        df_input : pandas dataframe 
            the plotting matrix where each column is plotted
            the name of the column will be used for the legend
        scale: str
            y-axis scale as 'log' or 'linear'
        slider: bool
            True or False for x-axis slider
    
        
        Returns:
        ----------
        
    """
    fig = go.Figure()

    for each in df_input.columns:
        fig.add_trace(go.Scatter(
                        x=x_in,
                        y=df_input[each],
                        name=each,
                        opacity=0.8))
    
    fig.update_layout(autosize=True,
        width=800,
        height=700,
        font=dict(
            family="PT Sans, monospace",
            size=18,
            color="#7f7f7f"
            )
        )
    fig.update_yaxes(type=y_scale),
    fig.update_xaxes(tickangle=-45,
                 nticks=20,
                 tickfont=dict(size=14,color="#7f7f7f")
                )
    if slider==True:
        fig.update_layout(xaxis_rangeslider_visible=True)
    fig.show()

In [34]:
def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function (data structure kept)

        parameters:
        ----------
        df_input : pandas.series
        column : str
        window : int
            used data points to calculate the filter result

        Returns:
        ----------
        df_result: pd.DataFrame
            the index of the df_input has to be preserved in result
    '''

    degree=1
    df_result=df_input

    filter_in=df_input[column].fillna(0) # attention with the neutral element here

    result=signal.savgol_filter(np.array(filter_in),
                           window, # window size used for filtering
                           1)
    df_result[str(column+'_filtered')]=result
    return df_result

def rolling_reg(df_input,col='confirmed'):
    ''' Rolling Regression to approximate the doubling time'

        Parameters:
        ----------
        df_input: pd.DataFrame
        col: str
            defines the used column
        Returns:
        ----------
        result: pd.DataFrame
    '''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)



    return result

In [35]:
# quick_plot(df_plot.date,
#            df_plot.iloc[:,1:],
#            y_scale='log',
#            slider=True)

Doubling Rate - Piecewise Linear Regression

In [36]:
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
from scipy import signal

In [37]:
start_pos=50
df_plot = df_plot.iloc[start_pos:]

In [38]:
## filter data
for each in country_list:
    df_plot[each+'_filter']=signal.savgol_filter(df_plot[each],
                           3, # window size used for filtering
                           1) # order of fitted polynomial

In [39]:
df_plot

,date,Germany,Turkey,US,Germany_filter,Turkey_filter,US_filter
3/12/20,2020-03-12,2369,1,1586,2.362333e+03,1.666667e+00,1.565000e+03
3/13/20,2020-03-13,3062,5,2219,3.075333e+03,3.666667e+00,2.261000e+03
3/14/20,2020-03-14,3795,5,2978,3.898333e+03,5.333333e+00,2.803000e+03
3/15/20,2020-03-15,4838,6,3212,4.881667e+03,9.666667e+00,3.623000e+03
3/16/20,2020-03-16,6012,18,4679,6.002000e+03,2.366667e+01,4.801000e+03
...,...,...,...,...,...,...,...
7/20/22,2022-07-20,30131303,15524071,90046261,3.012170e+07,1.544856e+07,9.002573e+07
7/21/22,2022-07-21,30239122,15524071,90200438,3.023385e+07,1.552407e+07,9.020459e+07
7/22/22,2022-07-22,30331131,15524071,90367064,3.030046e+07,1.552407e+07,9.031923e+07
7/23/22,2022-07-23,30331133,15524071,90390185,3.033113e+07,1.552407e+07,9.038921e+07
7/24/22,2022-07-24,30331133,15524071,90410386,3.033113e+07,1.552407e+07,9.041087e+07

In [40]:
filter_cols=['Germany_filter','Turkey_filter','US_filter']

In [41]:
def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''
    
    y = np.array(in_array)
    X = np.arange(-1,3).reshape(-1, 1)
    
    assert len(in_array)==4
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_
    
    return intercept/slope

In [42]:
def doubling_time(in_array):
    ''' Use a classical doubling time formular, 
     see https://en.wikipedia.org/wiki/Doubling_time '''
    y = np.array(in_array)
    return len(y)*np.log(2)/np.log(y[-1]/y[0])

In [43]:
# calculate slope of regression of last x days
# use always a limited number of days to approximate the triangle, attention exponential base assumption
days_back = 4 # this gives a smoothing effect
for pos,country in enumerate(country_list):
    df_plot[country+'_DR']=df_plot[country].rolling(
                                window=days_back,
                                min_periods=days_back).apply(get_doubling_time_via_regression, raw=False)

In [47]:
df_plot.head()

,date,Germany,Turkey,US,Germany_filter,Turkey_filter,US_filter,Germany_DR,Turkey_DR,US_DR,Germany_filter_DR,Turkey_filter_DR,US_filter_DR
3/12/20,2020-03-12,2369,1,1586,2362.333333,1.666667,1565.0,NaN,NaN,NaN,NaN,NaN,NaN
3/13/20,2020-03-13,3062,5,2219,3075.333333,3.666667,2261.0,NaN,NaN,NaN,NaN,NaN,NaN
3/14/20,2020-03-14,3795,5,2978,3898.333333,5.333333,2803.0,NaN,NaN,NaN,NaN,NaN,NaN
3/15/20,2020-03-15,4838,6,3212,4881.666667,9.666667,3623.0,3.819410,2.333333,3.932766,3.741041,1.480519,3.316260
3/16/20,2020-03-16,6012,18,4679,6002.000000,23.666667,4801.0,3.974629,1.625000,3.797347,4.072550,1.145078,3.495261

In [ ]:
for each in country_list:
    df_plot[each+'_filter']=signal.savgol_filter(df_plot[each],
                           3, # window size used for filtering
                           1) # order of fitted polynomial

In [45]:
# run on all filtered data
days_back = 4 # this gives a smoothing effect
for pos,country in enumerate(filter_cols):
    df_plot[country+'_DR']=df_plot[country].rolling(
                                window=days_back,
                                min_periods=days_back).apply(get_doubling_time_via_regression, raw=False)

In [48]:
df_plot.head()

,date,Germany,Turkey,US,Germany_filter,Turkey_filter,US_filter,Germany_DR,Turkey_DR,US_DR,Germany_filter_DR,Turkey_filter_DR,US_filter_DR
3/12/20,2020-03-12,2369,1,1586,2362.333333,1.666667,1565.0,NaN,NaN,NaN,NaN,NaN,NaN
3/13/20,2020-03-13,3062,5,2219,3075.333333,3.666667,2261.0,NaN,NaN,NaN,NaN,NaN,NaN
3/14/20,2020-03-14,3795,5,2978,3898.333333,5.333333,2803.0,NaN,NaN,NaN,NaN,NaN,NaN
3/15/20,2020-03-15,4838,6,3212,4881.666667,9.666667,3623.0,3.819410,2.333333,3.932766,3.741041,1.480519,3.316260
3/16/20,2020-03-16,6012,18,4679,6002.000000,23.666667,4801.0,3.974629,1.625000,3.797347,4.072550,1.145078,3.495261

In [16]:
df_plot = df_plot.fillna(0)

In [17]:
confirmed = df_plot[['Germany','Turkey','US']]
confirmed_filtered = df_plot[['Germany_filter','Turkey_filter','US_filter']]
confirmed_filtered.rename(columns = {'Germany_filter':'Germany', 'Turkey_filter':'Turkey','US_filter':'US'}, inplace = True)
confirmed_DR = df_plot[['Germany_DR','Turkey_DR','US_DR']]
confirmed_DR.rename(columns = {'Germany_DR':'Germany', 'Turkey_DR':'Turkey','US_DR':'US'}, inplace = True)
confirmed_filtered_DR = df_plot[['Germany_filter_DR','Turkey_filter_DR','US_filter_DR']]
confirmed_filtered_DR.rename(columns = {'Germany_filter_DR':'Germany', 'Turkey_filter_DR':'Turkey','US_filter_DR':'US'}, inplace = True)

C:\Users\Abdullah Eraslan\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [28]:
fig = go.Figure()

app = dash.Dash()
app.layout = html.Div([

    dcc.Markdown('''
     ## Enterprise Data Science Delivery 3
    '''),

    dcc.Markdown('''
     Country Selection
    '''),

    dcc.Dropdown(
        id='country_drop_down',
        options=[
        {'label': 'Germany', 'value': 'Germany'},
        {'label': 'Turkey', 'value': 'Turkey'},
        {'label': 'US', 'value': 'US'},
    ],
        value=['Germany','Turkey'], # which are pre-selected
        multi=True
    ),

    dcc.Markdown('''
         Select Timeline of confirmed COVID-19 cases or the approximated doubling time
        '''),


    dcc.Dropdown(
    id='doubling_time',
    options=[
        {'label': 'Timeline Confirmed ', 'value':1},
        {'label': 'Timeline Confirmed Filtered', 'value': 2},
        {'label': 'Timeline Doubling Rate', 'value': 3},
        {'label': 'Timeline Doubling Rate Filtered', 'value': 4},
    ],
    value=1,
    multi=False
    ),

    dcc.Graph(figure=fig, id='main_window_slope')
])


@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value'),
    Input('doubling_time', 'value')])

def update_figure(country_list,show_doubling):


    if show_doubling >2: 
        my_yaxis={'type':"log",
               'title':'Approximated doubling rate over 4 days'
              }
    else:
        my_yaxis={'type':"log",
                  'title':'Confirmed Cases'
              }


    traces = []
    
    for each in country_list:

        if show_doubling ==2:
            
            df_plot_new=confirmed_filtered
            
        elif show_doubling ==3:
            
            df_plot_new=confirmed_DR
            
        elif show_doubling ==4:
            
            df_plot_new=confirmed_filtered_DR
            
        else:
            
            df_plot_new=confirmed

            
        traces.append(dict(x=df_plot.date,
                           y=df_plot_new[each],
                           mode='markers+lines',
                           opacity=0.9,
                           name=each
                        )
                )

    return {
            'data': traces,
            'layout': dict (
                width=1200,
                height=700,

                xaxis={'title':'Timeline',
                        'tickangle':-45,
                        'nticks':20,
                        'tickfont':dict(size=14,color="#7f7f7f"),
                      },

                yaxis=my_yaxis
                             
        )
    }

In [29]:
if __name__ == '__main__':

    app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on